body,
html{
    width: 100%;
    margin: 0;
    height: 100%;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
}
#sidebar{
    background-color: rgb(0, 0, 87);
    width: 20%;
    padding-left: 2vw;
}
#projCon > button{
    background-color: rgb(0, 0, 87);
    color: white;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    padding: 10px;
    font-weight: 700;
}
#projCon > button:hover{
    background-color: rgb(0, 0, 131);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
main{
    background-color: aliceblue;
    width: 80%;
    padding-left: 2vw;
}
#sidebar > *{
    color: white;
}
.toDoItem{
    display: grid;
    grid-template-columns: 1fr 25fr;
    grid-template-rows: 2vh 2vh;
    gap: 1vw;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-right: 2vw;
}
.toDoItem >h3,
.toDoItem >p{
    margin: 0;
}
.checkbox{
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 10vw;
    background-color: white;
    font-size: 2rem;
}
.addToDo{
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(0, 0, 87);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

#projCon > button.selectedProject{
    color: black;
    background-color: aliceblue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.completedToDo{
    background-color: rgb(201, 201, 201);
}
.completedToDo > .checkbox{
    background-color: rgb(201, 201, 201);
}
.completedToDo > h3,
.completedToDo > p{
    text-decoration: line-through;
}
.addProj{
    display: flex;
    gap: 5px;
}
.addProj > input{
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
}
.addProj > button{
    background-color: white;
    border: none;
    border-radius: 5px;
}
.invisible{
    display: none;
}

#listCon{
    display: flex;
    flex-direction:column;
    gap: 10px;
}

.toDoItem > input{
    border: none;
    font-size: 1.1rem;
}